<div *ngFor="let game of games">
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
      <!--<mat-card class="game-title-card">
        <img mat-card-image src="https://rocketleague.media.zestyio.com/rl_home_f2p-launch_shop_10367.jpg" alt="Rocket League Photo" />
      </mat-card>-->
      <img src={{game.imageURL}} alt={{game.name}} class="game-image" />
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="game-title-card">
        <mat-card-header>
          <mat-card-title class="game-title">
            <a [title]="game.name" [routerLink]="['/game',game.name]">
              {{game.name}}
            </a>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <br />
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

</div>
