<br/>
<div *ngIf="player">
  <b style="font-size:50px">{{player.name}} <br> </b>

  <mat-card class="player-card">
    <img mat-card-image src="{{player.imageURL}}" alt="" class="player-image" />
    <mat-card-title style="font-weight:bold">
      <a [title]="player.game" [routerLink]="['/game',player.game]">
        {{player.game}}
      </a>
      <br>
    </mat-card-title>
    <mat-card-title style="font-size:20px">
      <a [title]="player.team" [routerLink]="['/team',player.team]">
        {{player.team}}
      </a>
    </mat-card-title>
  </mat-card>

  <table class="mat-elevation-z8">
    <tr>
      <th> Mouse </th>
      <th> Keyboard </th>
      <th> Headset </th>
      <th> Monitor </th>
      <th> Sensitivity(DPI, Windows, Game) </th>
    </tr>
    <tr>
      <td style="max-width=100px"> {{player.mouse}} </td>
      <td> {{player.keyboard}} </td>
      <td> {{player.headset}} </td>
      <td> {{player.monitor}} </td>
      <td> {{player.sensitivity}} </td>
    </tr>
  </table>
</div>

