.player-card{
    max-width: 200px;
    float:left;
    margin:10px;
}
.player-title{
    position: absolute;
    top:30px;
    left:30px;
    font-weight:bold;
}
.player-image{
    max-height:300px;
    object-fit:cover;
}
table, th, td {
  width: 100%;
  table-layout: fixed;
}

th, td {
    text-align: left;
}
