<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
    <!--<mat-card class="game-title-card">
    <img mat-card-image src="https://rocketleague.media.zestyio.com/rl_home_f2p-launch_shop_10367.jpg" alt="Rocket League Photo" />
  </mat-card>-->
    <img src="https://res.cloudinary.com/scalefunder/image/upload/c_crop,h_343,w_606,x_0,y_0/c_scale,h_343,w_606/f_auto,fl_lossy,q_auto/v1/DePaul_University/veb3d0xedx8vvj6u02qr" alt="DePaul University" class="team-image" />
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="game-title-card">
      <mat-card-header>
        <mat-card-title class="team-title">DePaul Esports</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <br/>
        <p>
          This is rocket league. I guess some people still play this competitively...
        </p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile colspan="2">
    <h1 class="player-title">Players</h1>
    <div class="team-roster">
      <mat-card class="player-card">
        <img mat-card-image src="https://tiermaker.com/images/avatars/karmajuney/karmajuney.jpg" alt="Who is this guy?" class="player-image" />
        <mat-card-title>Who</mat-card-title>
      </mat-card>
      <mat-card class="player-card">
        <img mat-card-image src="https://tiermaker.com/images/avatars/karmajuney/karmajuney.jpg" alt="Who is this guy?" class="player-image" />
        <mat-card-title>is</mat-card-title>
      </mat-card>
      <mat-card class="player-card">
        <img mat-card-image src="https://tiermaker.com/images/avatars/karmajuney/karmajuney.jpg" alt="Who is this guy?" class="player-image" />
        <mat-card-title>this</mat-card-title>
      </mat-card>
      <mat-card class="player-card">
        <img mat-card-image src="https://tiermaker.com/images/avatars/karmajuney/karmajuney.jpg" alt="Who is this guy?" class="player-image" />
        <mat-card-title>guy?</mat-card-title>
      </mat-card>
    </div>
  </mat-grid-tile>
</mat-grid-list>
